$font-stack: 'Source Code Pro', monospace;
$grey1: #333;
$grey2: #ddd;
$grey3: #eee;
$grey4: #f7f7f7;

body {
  font: 100% $font-stack;
  font-size: 18px;
}

.wrapper {
  margin: 2em auto;
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  border: 2px solid $grey1;
  border-radius: 10px;
  justify-content: space-between;
  width: 300px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  background-color: $grey3;
  cursor: pointer;
  &:hover {
    background-color: $grey2;
  }
  &:active {
    background-color: $grey4;
  }
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 55px;
  background-color: $grey4;
  border-radius: 10px;
}
